$color-primary50: #f1fcfb;
$color-primary100: #d1f6f3;
$color-primary200: #a3ece8;
$color-primary300: #58d5d3;
$color-primary400: #40bfc1;
$color-primary500: #26a2a6;
$color-primary600: #1c7f85;
$color-primary700: #1a676b;
$color-primary800: #1a5055;
$color-primary900: #1a4447;
$color-primary950: #09262a;

$color-grey50: #f6f6f6;
$color-grey100: #e7e7e7;
$color-grey200: #d1d1d1;
$color-grey300: #b0b0b0;
$color-grey400: #888888;
$color-grey500: #6d6d6d;
$color-grey600: #5d5d5d;
$color-grey700: #4f4f4f;
$color-grey800: #454545;
$color-grey900: #3d3d3d;
$color-grey950: #1f1f1f;
