@import "../../../styles/colors";

.input-controller {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  label {
    font-size: 1.4rem;
    color: $color-grey700;
    line-height: 2rem;
  }
  input {
    padding: 0.8rem 1.2rem;
    border-radius: 0.8rem;
    background-color: #fff;
    border: 1px solid $color-grey300;
    color: $color-grey500;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 1px;
    outline: none;
  }
}
