.passwordInput {
  position: relative;
  button {
    position: absolute;
    top: 55%;
    right: 1.2rem;

    border: none;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
